services:
  app:
    image: ghcr.io/william920429/pttbbs:latest
    container_name: pttbbs-app
    restart: unless-stopped
    ipc: shareable
    init: true
    volumes:
      - data:/home/bbs
    environment:
      - TZ
  
  cron:
    image: ghcr.io/william920429/pttbbs:latest
    container_name: pttbbs-cron
    restart: unless-stopped
    ipc: service:app
    command: supercronic -quiet /crontab
    volumes:
      - data:/home/bbs
    environment:
      - TZ
  
  web:
    image: ghcr.io/william920429/pttchrome:latest
    container_name: pttbbs-web
    restart: unless-stopped
    ipc: service:app
    ports:
      - 21900:80
    env_file: .env

volumes:
  data:
